
<div class="container">

<div class="profile">
	<div class="row">
		
<%= image_tag @user.image_url(:medium) if @user.image? %>
<div class="profilename">
<%= @user.username if @user.username? %></div>
<div class="profileteam">
Team: MUHS
</div>

<div class="profilereputation">
Score: <%= @user.reputation_for(:votes).to_i %> points
</div>

<div class="span6">

<br>

<% @user.posts.each do |post| %>
 <div class="indiepost"> 
<!-- VoTE 
<%= link_to image_tag( "/assets/arrow.png" ), vote_post_path(post, type: "up"), method: "post" %><br><br>
 
 <div class="votecount">+<%= post.reputation_for(:votes).to_i %></div>
VOTE -->

<!-- Main Section of main table starts here -->
        
<%= image_tag post.image_url(:thumb), :class => 'imgmore' if post.image? %>
      
      <div class="title">
       <%= link_to post.title, post_path(post) %>  
      
      </div>




        <div class="description"> Description: <%= post.description %></div>
        
        <span class="body">Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></span>

<span class="comments">| (<%= post.comments.count %>) comment(s) |  Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.username if post.user.username? %> </span> 


<br>
</div>
<% end %>
</div>






</div>
</div>
</div>
<br>


</div>
