<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><a href="/">Lists and Profiles</a></div>
      <ul class="nav">
        <li><a href="#">About</a></li>

        <% if user_signed_in? %>
  <li><a href="#"><%= current_user.email %></a></li>
 <li> <%= link_to 'Edit profile', edit_user_registration_path %></li>
 <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
 <li> <%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Login", new_user_session_path %></li>
<% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">

<div class="row">
  <div class="span10">

<%- model_class = Post -%>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
      <h4>Find your favorite post</h4>
</th>
    </tr>
  </thead>
  

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        
<!-- Voting Section of main table starts here
<td>
<a href="#login-modal" class="btn btn-info" data-toggle="modal"><i class="icon-arrow-up"></i>+10
</td>
 Voting Section end-->
 


<!-- Main Section of main table starts here -->
        <td>
<%= image_tag post.image_url(:thumb) if post.image? %>
      
      <div class="title">
       <%= link_to post.title, post_path(post) %>  
      
      </div>



        <div class="description"> Description: <%= post.description %></div>
        <div class="tags">Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>


        





<!-- Optional Posted By
        <div class="user">Posted By: <%= post.subheading %></div>
 -->      


        </td>



 <!-- Main Section Ends -->       
     


<!-- Right Column of main table starts here -->
        <td>
        


<!-- This section adds a post date and ability to edit or delete a post

<div class="date"><%= post.created_at.strftime("%B %d") %><br>[<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'text' %> |
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'text' %>]

</div>

-->

    <div class="money">
      $10
    </div><br>

<div style="text-align:center;">
<button class="btn btn-info" type="button">Buy Now</button>
</div>
        </td>

      </tr>

    <% end %>
  </tbody>
</table>
</div>

<div class="span2">


 <h5>


<%= button_to("New Post", new_post_path, :class => 'btn btn-block btn-success', method: :get)  %>

 </h5>

<table class="table table-bordered">
<th>Sign Up </th>
<tr>
<td><h5>Email me when this tag is mentioned.</h5>
</td>
</tr>
</table>


<table class="table table-bordered">
 <th align="center">Tag Cloud</th>
 <tr>
<td> 
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</td>
</tr>
</table>


<table class="table table-bordered">
 <th>Advertisement</th>
 <tr>
<td> 

</td>
</tr>
</table>


<table class="table table-bordered">
 <div class="rightcolumn">
  <th>Most Votes</th>
 <tr>
<td> 
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</div>
</td>
</tr>
</table>


</div>

</div>



</div>


