<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><a href="/">Lists and Profiles</a></div>
      <ul class="nav">
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">


<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><h3>Search from the list below or <%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-success' %></h3>
</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
<%= image_tag post.image_url(:thumb) if post.image? %>
      
      <div class="title">
       <%= link_to post.title, post_path(post) %>
<div class="date">- <%= post.created_at.strftime("%B %d, %Y") %></div>
     </div>
        <div class="description"><%= post.description %></div>
        <div class="tags"><%= post.subheading %></div>
        
        
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'text' %> |
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'text' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>

</div>


