<%- model_class = Post -%>

<div class="container">
<div class="row">
<div class="span9">
  <div class="row">
 <%= @post.picture %><%= image_tag @post.image_url(:medium) if @post.image? %>
 <div class="titleshow"><%= @post.title %>
</div>
  
<div class="descriptionshow"><%= @post.description %></div>

<div class="tagsshow">Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>

 <div class="votecountshow">+<%= @post.reputation_for(:votes).to_i %> Votes<%= link_to image_tag( "/assets/arrow.png" ), vote_post_path(@post, type: "up"), method: "post" %></div><br><br>
</div>
<hr>
Likes: <%= @post.picture %><%= image_tag @post.image_url(:mini) if @post.image? %><%= @post.picture %><%= image_tag @post.image_url(:mini) if @post.image? %>

<br><br><br>
<hr>
<div class="span3">
<h2> Comments </h2>

<%= render "comments/comments" %>
</div>
<div class="span3">
<%= render "comments/form" %>
</div>

<div>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'text'  %> |
         
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'text' %> |

  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'text' %>
</div>
<br><br>

</div>
<div class="span3">


 <h5>


<%= button_to("New Post", new_post_path, :class => 'btn btn-block btn-success', method: :get)  %>

 </h5>

<table class="table table-bordered">
<th>Sign Up </th>
<tr>
<td><h5>Email me when this tag is mentioned.</h5>
</td>
</tr>
</table>


<table class="table table-bordered">
 <th align="center">Tag Cloud</th>
 <tr>
<td> 
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</td>
</tr>
</table>


<table class="table table-bordered">
 <th>Search</th>
 <tr>
<td> 

<%= form_tag posts_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
      <% end %>


</td>
</tr>
</table>


<table class="table table-bordered">
 <div class="rightcolumn">
  <th>Most Votes</th>
</div>
 <tr>
<td> 

</td>
</tr>
</table>

<table class="table table-bordered">
 <div class="rightcolumn">
  <th>Most Votes</th>
</div>
 <tr>
<td> 

</td>
</tr>
</table>


</div>

</div>
</div>
<div class="row"

</div>
</div>

