<p id="notice"><%= notice %></p>

<p>
  <b>Picture:</b>
  <%= @post.picture %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Subheading:</b>
  <%= @post.subheading %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
