<%- model_class = Post -%>

<div class="container">
<div class="row">
<div class="offset1 span8">

<div class="row">
<%= image_tag @post.user.image_url(:mini) if @post.user.image? %>

 <div class="titleshow"><%= @post.title %>
</div> <div class="titlesubshow">
<%= @post.user.username if @post.user.username? %> posted <%= time_ago_in_words(@post.created_at) %> ago.
</div></div><br>

  <div class="row">
 <%= @post.picture %><%= image_tag @post.image_url(:medium) if @post.image? %>

  
<div class="descriptionshow">Strategy Description: <%= @post.description %></div>

</div>


<div class="row">

  <hr>
<div class="span4">

   <div class="title"> Strategy Discussion </div>

<%= render "comments/comments" %>


<%= render "comments/form" %>
</div>

<!--<div class="videoshow">Game Day Video:<br> <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div> -->
<div class="span4">

<div class="likeshow">
Liked By:<br>
<%= image_tag @post.image_url(:mini) if @post.image? %><%= image_tag @post.image_url(:mini) if @post.image? %>
<br><br><br><br></div>

<div class="tagsshow">Tags:<br> <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>

</div>
</div>



<div>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'text'  %> |
         
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'text' %> |

  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'text' %>
</div>
<br><br>

</div>
<div class="span2">


 <h5>


<%= button_to("New Strategy", new_post_path, :class => 'btn btn-block btn-success', method: :get)  %>

 </h5>

<table class="table table-bordered">
<th>Share This Strategy </th>
<tr>
<td><div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div><br>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="Hightlightmaker">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</td>
</tr>
</table>

<table class="table table-bordered">
 <th>Coaches Other Posts</th>
 <tr>
<td> 


</td>
</tr>
</table>


<table class="table table-bordered">
 <th align="center">Tag Cloud</th>
 <tr>
<td> 
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
</td>
</tr>
</table>



</div>

</div>
</div>
<div class="row"

</div>
</div>

