<!DOCTYPE html>
<html>
<head>
  <title>Sports Strategy Discussion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=380308788718019";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar">
  <div class="navbar-inner">

      <div class="brand"><a href="/">Sports Strategy</a></div>
      <ul class="nav">
        <li><a href="#">About</a></li>

        <% if user_signed_in? %>
  <li><a href="#"><%= current_user.username %> (+<%= current_user.reputation_for(:votes).to_i %> Likes) 
</a></li>
 <li> <%= link_to 'Edit Your Profile', edit_user_registration_path %></li>
 <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
 <li> <%= link_to 'View Other Coaches', '/users/' %></li>
<% else %>
 <li> <%= link_to "Sign up", new_user_registration_path %></li>
  <li><%= link_to "Login", new_user_session_path %></li>
<% end %>
      </ul>
    </div>
  </div>


<%= yield %>

<div class="footer">
  All Rights Reserved | about | contact
</div>
</body>
</html>
